<div class="cards-container mt-3">
  <p>I am turbo!</p>
  <% categories.each do |category| %>
    <div class="card-category">
      <div class="card-content">
        <h2><%= category.name %></h2>
      </div>
      <%= link_to car_category_path(category) do %>
        <%= image_tag "#{category.name}.png", alt: 'Description de l\'image' %>
      <% end %>
      <p class="price"><%= category.calculate_price(session[:start_at], session[:end_at]) %> €</p>
    </div>
  <% end %>
</div>
