<div class="card-category-details">
  <div class="card-content mb-3">
    <h2><%= @car_category.name %></h2>
    <p>Automatique - Diesel</p>
  </div>
  <%= image_tag 'voiture.jpg', alt: 'Description de l\'image' %>
  <div class="car-infos mt-3">
    <p>Age du conducteur 25ans ou plus</p>
    <hr class="solid">
    <p>Franchise 1500€</p>
    <hr class="solid">
    <p>km supp 40ct/km</p>
    <hr class="solid">
  </div>
  <div class="book-car-content">
    <div class="book-car-infos">
      <p >Durée: 2j 8h</p>
      <p>Commence dans: 23h</p>
    </div>
    <p class="price-details"><%= CarCategory.find(session[:car_category_id]).calculate_price(session[:start_at], session[:end_at]) %>€</p>
  </div>
  <%= link_to "Réserver ce véhicule", rentals_path, method: :post, class: "book-link", data: { turbo_method: :post }  %>
</div>
