<h1><%= @rental.car.car_category.name %></h1>

  <div class="container">

        <div class="featured-car-card">

          <figure class="card-banner">
            <%= image_tag 'voiture.jpg', alt: 'Description de l\'image' %>
          </figure>

          <div class="card-content">

            <div class="card-title-wrapper">
              <h3 class="h3 card-title">
                <a href="#"><%= @rental.car.car_category.name %></a>
              </h3>

              <data class="year" value="2021">2021</data>
            </div>

            <ul class="card-list">

              <li class="card-list-item">
                <ion-icon name="people-outline"></ion-icon>

                <span class="card-item-text">4 People</span>
              </li>

              <li class="card-list-item">
                <ion-icon name="flash-outline"></ion-icon>

                <span class="card-item-text">Hybrid</span>
              </li>

              <li class="card-list-item">
                <ion-icon name="speedometer-outline"></ion-icon>

                <span class="card-item-text">6.1km / 1-litre</span>
              </li>

              <li class="card-list-item">
                <ion-icon name="hardware-chip-outline"></ion-icon>

                <span class="card-item-text">Automatic</span>
              </li>

            </ul>

            <div class="card-price-wrapper">

              <p class="card-price">
                <strong>$440</strong> / month
              </p>

              <button class="btn">Update</button>

            </div>

          </div>

        </div>

<%= link_to "rental's index", rentals_path %>
