<div class="container">
  <%= link_to 'Back', car_categories_path %>
  <div class="camera-screen d-flex flex-column align-items-center" data-controller="photo" >
    <video data-photo-target="video" autoplay></video>
    <button data-photo-target="captureButton" data-action="click->photo#takePhoto">Photo</button>
  </div>
  <div class="photos-container">
    <ul class="photos-gallery">
      <% @photos.each do |photo| %>
        <li class="check-photos"><%= cl_image_tag(photo.url, alt: "Photo #{photo.id}") %></li>
      <% end %>
    </ul>
  </div>
</div>
