.camera-screen {
  padding: 10px;
}

video {
  width: 100%;
  height: 450px;
  border-radius: 20px;
  background-color: gray;
  position: relative;
}

.capture-button {
  position: absolute;
  bottom: 40%;
}

.photos-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Enable snapping */
  scroll-behavior: smooth; /* Smooth scrolling */
  -ms-overflow-style: none;  /* Hide scrollbar on IE and Edge */
  padding: 10px;
  scrollbar-width: none;  /* Hide scrollbar on Firefox */
}

.photos-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar on WebKit browsers */
}

.gallery {
  width: 150px;
  margin-right: 5px;
  border-radius: 10px;
}
